

h1{

  border:5px solid rgb(11, 62, 97);
  font-family:'Ugocranis™by Typodermic. Style: Black' Bold;
  text-decoration-color: black;
  font-size:60px;
  
}
h2{
  border: 3px solid rgb(11, 62,97);
  font-family: 'BringInTheFrowns™by Ingrimayne Type. Style: Regular';
  font-size:40px;


}
body{
  font-weight:bold;
  padding-left:50px;
  padding-right:50px;
  font-family:'roboto',sans-serif, bold;
  font-size:20px;
  color:black;
  
  
   
   
}
.hyperlink{
  border:red;


}
html { 
  background: url(assets/img/in-my-room-opacity.jpg) no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
