a{
    text-decoration: none;
    color:white;
    
}
h1{
    color:aquamarine;
    font-size:60px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;

}
html{
    background-color: black;
}

.cloud{
    font-family:'Rubik Puddles', cursive;
    font-size:40px;
    border:5px dashed rgb(223, 201, 7);
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;


}
.remember-index{
    font-family: 'Amatic SC', cursive;
    font-size:40px;
    border:5px dashed blue;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;

}
.avoid{
    font-family: 'Rock Salt', cursive;
    font-size:40px;
    border:5px dashed rgb(86, 86, 236);
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
 
}
.details{
    font-family: 'Six Caps', sans-serif;
    font-size:40px;
    border:5px dashed rgb(32, 231, 108);
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
   
}
.exhaustion{
    font-family: 'Nothing You Could Do', cursive;
    font-size:40px;
    border:5px dashed rgb(17, 209, 223);
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
}
.open-text{
    font-family: 'Rock 3D', cursive;
    font-size:40px;
    border:5px dashed rgb(24, 206, 145);
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
}
.declarative-text-origin{
    font-family: 'Mate SC', serif;
    font-size:40px;
    border:5px dashed rgb(0, 255, 149);
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
}
.index-of-details{
    font-family: 'Dongle', sans-serif;
    font-size:40px;
    border:5px dashed greenyellow;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
}
.overflow{
    font-family: 'Dongle', sans-serif;
    font-size:40px;
    border:5px dashed rgb(234, 255, 47);
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;

}
.declarative-text-without-bg-image{
    font-family: 'Cinzel Decorative', cursive;
    font-size:40px;
    border:5px dashed rgb(226, 103, 59);
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;

}
.declarative-text-java{
    font-family: 'Graduate', cursive;
    font-size:40px;
    border:5px dashed orange;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;


}
.text-scramble{
    font-family: 'Bowlby One SC', cursive;
    font-size:40px;
    border:5px dashed red;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;

}
.final-project{
    font-size:40px;
    border:5px dashed rgb(172, 55, 141);
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;

}