html{
    background-color: rgb(184, 228, 212);
}
h1{
    font-family:'Dokdo', cursive; 
    font-size:50px;
    color:black;
    margin-left:80px;
    margin-right:80px;
    margin-top:40px;
    margin-bottom:40px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;

}
body{
    font-family: 'Source Sans Pro', sans-serif;
    color:black;
    font-size:23px;
    margin-left:80px;
    margin-right:80px;
    margin-top:40px;
    margin-bottom:40px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;

}
a{
    color:rgb(51, 54, 127);
    text-decoration: none;
}
a:hover{
    color:rgb(208, 177, 22);
}