html{
    background-color: white;
    border:10px dotted red;
    margin-left:50px;
    margin-right:50px;
    margin-top:10px;
    margin-bottom:10px;
    
}
.arms-column,.arms-top-2{
    float:left;
    padding-bottom:60px;
    flex-direction:column;
    
    
}
.barbie-image{
    margin-top:50px;
    padding-top:30px;
    margin-bottom:20px;
    margin-right:10px;
    margin-left:800px;
    padding-left:800px;
    transform:rotate(90deg);
}
body{
    margin-top:40px;
    font-family:'Nothing You Could Do', cursive; 
    font-size:50px;
    color:red;
    padding-left:600px;
    padding-right:60px;
}

  .hover-barbie:hover {
    display: inline;
    cursor: pointer;
    margin-top:50px;
    padding-top:30px;
    margin-bottom:20px;
    margin-right:10px;
    margin-left:800px;
    padding-left:800px;

  }