body, html{
    height: 100%;
    height:100%;
/* Full height */
  height: 100%;
  

 background-image:url("glitter-dust-background.jpeg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat:repeat-x;
  background-size: cover;
  overflow: hidden;

}

}
h1{
    font-family: 'Indie Flower', cursive;
    font-size:40px;
    color:rgb(148, 20, 223);
    text-shadow: rgb(231, 71, 125);
    text-align: center;
    display:block;
    font-size: 80px;
    top:50%;
    left:50%;
    position:absolute;
}
.centered{
    font-family: 'Indie Flower', cursive;
    font-size:40px;
    color:rgb(148, 20, 223);
    text-shadow: rgb(231, 71, 125);
    text-align: center;
    display:block;
    font-size: 80px;
    top:50%;
    left:50%;
    position:absolute;
}
    

  
}
.p, body{
    font-family: 'Indie Flower', cursive;
    font-size:20px;
    color:white;
    padding:20px 20px 20px 20px;
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    text-align: center;
    display:block;
}