html{
    background-color: white;
}
h1{
    font-size:230pt;
    color:black;
    font-family:'Fontdiner Swanky', cursive;
    position: relative;
    text-align: center;

}
h2{
    font-size:30pt;
    color:black;
    font-family:'Fontdiner Swanky', cursive;
    float:right;
    padding-right:20px;
    margin: 2in 2in 2in 2in;
}
body{
    font-size:70pt;
    color:black;
    font-family: 'Fontdiner Swanky', cursive;
    padding:20px;

}


.large-circle {
    background:transparent;
    border:10px solid black;
    border-radius: 50%;
    width: 2000pt;
    height: 2000pt;
    position: center, relative;
    padding-left:20px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:50px;
   
 }
 img{
  width:2000pt;
  height:2000pt;
  position:center, relative;
  display:inline-block;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:20px;
 
  
  
 }
.circle-one{
height: 440pt;
  width:440pt;
  border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  padding:60pt;
  margin-left:5in;
  font:70pt 'Fontdiner Swanky', cursive;
  background-color: rgb(153, 11, 248);
  text-align:center;
  line-height:70pt;
 position:relative; top:20pt;
  
}

.circle-two{
height:440pt;
  width:440pt;
  border-radius: 50%;
  display: inline-block;
  border-radius: 50%;
  padding:60pt;
  font:70pt 'Fontdiner Swanky', cursive;;
  text-align:center;
  line-height:70pt;
  background-color: aqua;
  

}
.circle-three{
height: 520pt;
  width: 520pt;
  border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  padding:60pt;
  font:70pt 'Fontdiner Swanky', cursive;;
  text-align:center;
  line-height:70pt;
  background-color: rgb(106, 206, 172);
 
}
.circle-four{
height: 500pt;
width: 500pt;
border-radius: 50%;
border-radius: 50%;
display: inline-block;
padding:60pt;
font:70pt 'Fontdiner Swanky', cursive;;
text-align:center;
line-height:70pt;
background-color: rgb(218, 108, 181);

}
.circle-five{
height:440pt;
width:440pt;
border-radius: 50%;
border-radius: 50%;
display: inline-block;
padding:60pt;
font:70pt 'Fontdiner Swanky', cursive;;
text-align:center;
line-height:70pt;
background-color: greenyellow;


}
.circle-six{
height: 440pt;
width: 440pt;
border-radius: 50%;
border-radius: 50%;
display: inline-block;
padding:60pt;
font:70pt 'Fontdiner Swanky', cursive;;
text-align:center;
line-height:70pt;
background-color:orange;

}
.circle-seven{
height: 440pt;
width: 440pt;
border-radius: 50%;
border-radius: 50%;
display: inline-block;
padding:60pt;
font:70pt 'Fontdiner Swanky', cursive;;
text-align:center;
line-height:70pt;
background-color: rgb(223, 223, 21);

}
.circle-eight{
height:440pt;
width:440pt;
border-radius: 50%;
border-radius: 50%;
display: inline-block;
padding:60pt;
font:70pt 'Fontdiner Swanky', cursive;;
text-align:center;
line-height:70pt;
background-color: rgb(209, 91, 91);

}
.circle-nine{
height:440pt;
width:440pt;
border-radius: 50%;
border-radius: 50%;
display: inline-block;
padding:60pt;
font:70pt 'Fontdiner Swanky', cursive;;
text-align:center;
line-height:70pt;
background-color: rgb(71, 160, 182);

}
.circle-ten{
height:440pt;
width:440pt;
border-radius: 50%;
border-radius: 50%;
display: inline-block;
padding:60pt;
font:70pt 'Fontdiner Swanky', cursive;;
text-align:center;
line-height:70pt;
background-color:plum;
}
.circle-eleven{
background:blue;
height:440pt;
width: 440pt;
border-radius: 50%;
border-radius: 50%;
display: inline-block;
padding:60pt;
font:70pt 'Fontdiner Swanky', cursive;;
text-align:center;
line-height:70pt;
background-color:bisque;

}
.circle-twelve{
height:440pt;
 width:440pt;
border-radius: 50%;
border-radius: 50%;
display: inline-block;
padding:60pt;
font:70pt 'Fontdiner Swanky', cursive;
text-align:center;
line-height:70pt;
background-color:rgb(172, 224, 172);

}

a{
  color:black;
  text-align: center;

}

.circle-one{
  color:white;
}
 
