html{
    background-color: black;
}
h1{
    font-size:60px;
    color:white;
    font-family:'Fontdiner Swanky', cursive;
    position: relative;
    text-align: center;
    margin-bottom:130px;

}
h2{
    font-size:15px;
    color:white;
    font-family:'Fontdiner Swanky', cursive;
    float:right;
    padding-right:20px;
    margin: 2in 2in 2in 2in;
}
body{
    font-size:30px;
    color:white;
    font-family: 'Fontdiner Swanky', cursive;
    padding:20px;

}


.large-circle {
    background:rgb(230, 227, 227);
    border:10px solid white;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    position: relative;
    padding-left:20px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:50px;
   
 }
 img{
  width:800px;
  height:800px;
  position:center, relative;
  display:inline-block;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:20px;

 }
 .circle-style {
    border: 5px solid black;
    position: absolute;
  
 }
.circle-one{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
    font-size: 16px;
    word-wrap: break-word;
    font-family: 'Fontdiner Swanky', cursive;
    background-color: rgb(153, 11, 248);
    text-align:center;
    top: -105px;
    left:  370px; 
}



.circle-two {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
    font-size: 16px;
    word-wrap: break-word;
    font-family: 'Fontdiner Swanky', cursive;
    text-align:center;
    top: -40px;
    left:  560px;
    background-color: rgb(197, 82, 178);
}
.circle-three{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border-radius: 50%;
        padding: 30px;
        font-size: 16px;
        font-family: 'Fontdiner Swanky', cursive;
        text-align:center;
        top: 130px;
        left: 720px; 
        background-color: rgb(93, 95, 216);
    
}
.circle-four{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border-radius: 50%;
        padding: 30px;
        font-size: 16px;
        font-family: 'Fontdiner Swanky', cursive;
        text-align:center;
        top: 350px;
        left: 740px; 
        background-color: rgb(82, 149, 158);
}
.circle-five{
    height: 90px;
        width: 90px;
        border-radius: 50%;
        border-radius: 50%;
        padding: 30px;
        font-size: 16px;
        font-family: 'Fontdiner Swanky', cursive;
        text-align:center;
        top: 560px;
        left: 650px; 
        background-color: rgb(82, 158, 126);
        border:5px solid black;
}
.circle-six{
    height: 90px;
        width: 90px;
        border-radius: 50%;
        border-radius: 50%;
        padding: 30px;
        font-size: 16px;
        font-family: 'Fontdiner Swanky', cursive;
        text-align:center;
        top: 720px;
        left: 490px; 
        background-color: rgb(139, 202, 56);
        border:5px solid black;
       
}
.circle-seven{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
    font-size: 16px;
    font-family: 'Fontdiner Swanky', cursive;
    text-align:center;
    top: 754px;
    left:250px; 
    background-color: rgb(219, 223, 7);
    border:5px solid black;
}
.circle-eight{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
    font-size: 16px;
    font-family: 'Fontdiner Swanky', cursive;
    text-align:center;
    top: 640px;
    left: 40px; 
    background-color: rgb(223, 129, 7);
    border:5px solid black;
}
.circle-nine{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
    font-size: 16px;
    font-family: 'Fontdiner Swanky', cursive;
    text-align:center;
    top: 440px;
    left: -60px; 
    background-color: rgb(223, 68, 7);
    border:5px solid black;
}
.circle-ten{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
    font-size: 16px;
    font-family: 'Fontdiner Swanky', cursive;
    text-align:center;
    top: 230px;
    left: -80px; 
    background-color: rgb(241, 13, 154);
    border:5px solid black;
}
.circle-eleven{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
    font-size: 16px;
    font-family: 'Fontdiner Swanky', cursive;
    text-align:center;
    top: 40px;
    left: 20px; 
    background-color: rgb(177, 75, 180);
    border:5px solid black;
}
.circle-twelve{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
    font-size: 16px;
    font-family: 'Fontdiner Swanky', cursive;
    text-align:center;
    top: -60px;
    left: 180px; 
    background-color: rgb(141, 135, 148);
    border:5px solid black;
}
a {
display: block;
  color:white;
  text-emphasis-color: black;
  font-size:20px;
  

}

 