html{
    background-color: white;
}

h1{
    margin-left:10px;
    font-size:70px;
    color:black;
    font-family: 'Dokdo', cursive;
    padding-left:20px;
    padding-right:20px;
}
h2{
    margin-left:4px;
    font-size:40px;
    color:black;
    font-family: 'Dokdo', cursive;
    padding-left:20px;
    padding-right:20px;
}
.image-of-rock{
    max-height:10px;
    max-width:10px;
    padding: 5px 5px 5px 5px;
    border: 5px solid red;
}
body{
    margin-left:20px;;
    font-size:20px;
    font-family:'Dokdo', cursive; 
    color:black;
    padding-left:20px;
    padding-right:20px;

}
.p{
    margin-left:20px;
    margin-right:20px;
    padding-right:20px;
    padding-left:20px;
    font-size:20px;
}
a{
    font-size:20px;
}