html{
    background-color: rgb(75, 120, 75);
}
h1{
    font-family:'Dokdo', cursive; 
    font-size:50px;
    color:black;
    margin-top:60px;
    margin-bottom:40px;
    margin-left:60px;
    margin-right:60px;
    padding-top:40px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;


}
body{
    font-family:'Dokdo', cursive; 
    font-size:20px;
    color:black;
    margin-top:60px;
    margin-bottom:40px;
    margin-left:60px;
    margin-right:60px;
    padding-top:40px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;

}