html{
    background-color: rgb(144, 17, 158);
   
}
img{
    margin-left:80px;
    margin-top:70px;
    margin-right:50px;
    margin-bottom:20px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:20px;
    border:5px solid aqua;
    
}
a{
    color:rgb(92, 242, 11);
    font-size:40px;
    text-decoration: none;
    font-family: 'Goldman', cursive;
    background-color: black;
    border:black solid 5px;
    
  
   
}
a:hover{
    color:rgb(39, 237, 230);
}
