html{
    background-color: white;
}
h1{
    font-size:70px;
    color:black;
    padding-left:20px;
    padding-right:20px;
    padding-top:40px;
    padding-bottom:40px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}
.p, body{
    font-size:40px;
    color:black;
    padding-left:20px;
    padding-right:20px;
    padding-top:40px;
    padding-bottom:40px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}