html{
    background-color:white;
    margin-left:20px;
    border:5px dashed red;
}
.image{
  display: block;
  margin-left:90px;
  margin-right:20px;
  margin-top:30px;
  margin-left:20px;
  margin-bottom:30px;
  padding:20px 20px 20px 20px;
}
h1{
  padding-top:20px;
  margin-left:200px;
  padding-right:20px;
  padding-left:60px;
  font-size:80px;
  font-family:'Rubik Wet Paint', cursive;
  color:red;
}
a{
    font-family:'Nanum Brush Script', cursive;
    font-size:25px;
    color: rgb(235, 18, 235);
    text-decoration: none;
    
}
.return{
  margin-left:700px;
  padding-left:100px;
}
.poem{
  font-size:25px;
  margin-left:430px;
  padding-left:100px;
  margin-bottom:20px;
  padding-bottom:15px;
  font-family:'Nanum Brush Script', cursive;
}

}
/* unvisited link */
a:link {
    color: rgb(235,18,235);
    font-size:25px;

    
  }
  
  /* visited link */
  a:visited {
    color: rgb(118, 18, 233);
    font-size:25px;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(240, 9, 9);
    font-size:25px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    font-size:25px;
  }

.return{
    color:red;
    font-size:25px;
    
   
}
