html{
    background-color: rgb(214, 212, 212);
}
h1{
    color:rgb(97, 94, 94);
    font-size:70px;
    font-family: 'El Messiri', sans-serif;
    margin-top:40px;
    margin-right:40px;
    margin-left:40px;
    margin-bottom:50px;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;
}
body{
    color:black;
    font-size:27px;
    font-family: 'El Messiri', sans-serif;
    margin-top:40px;
    margin-right:40px;
    margin-left:40px;
    margin-bottom:70px;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:60px;
    padding-left:20px;
}
a{
    font-size:18px;
    color:rgb(75, 73, 73);
    font-family: 'El Messiri', sans-serif;
    text-decoration: none;
    
}
a:hover{
    color:rgb(67, 139, 195);
}
.snow-flake-drawing{
    margin-top:20px;
    padding-top:10px;
    margin-bottom:40px;
    padding-bottom:10px;
}