html{
    background-color: white;
}
h1{
    font-size:45px;
    font-family: 'Caveat', cursive;
    color:blue;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
    padding:10px;
}

body{
    font-family: 'Caveat', cursive;
    font-size:25px;
    color: blue;
    margin:50px 50px 50px 50px;
   
}
a{
    font-family: 'Caveat', cursive;
    font-size:25px;
    color:red;
    
}
