html{
    background-color: white;
}
h1{
    font-size:90pt;
    font-family: 'Caveat', cursive;
    color:blue;
    margin: top 1in;
    margin-left:2in;
    margin-right:2in;
    margin-bottom:1in;
    padding:10px;
}

body{
    font-family: 'Caveat', cursive;
    font-size:50pt;
    color: blue;
    margin:2in 2in 2in 2in;
    padding: 2in 2in 2in 2in;
}
