body {
    background-color: lightsteelblue;
    border: 3px dotted red


}

a {
color: hotpink;
font-size: 20px;
text-shadow: 2px 20px 50px yellow;
text-decoration: none;
border-bottom: 12px solid cornflowerblue;
line-height: 100px;
}

.trauma {
font-weight: bold;
font-family: cursive;
margin: 20px 20px 20px;
border-bottom: 15px solid mediumslateblue;
}


.wounds {
background-color: thistle;


}

.memories {
color: navy;
font-family: cursive;
font-weight: bolder;
text-shadow: 2px 20px 50px chartreuse;

}

.p {
  padding: 40px;
}

.block {
  display: block;
  margin: 80px 80px 80px 80px;
  border: 2px solid cornflowerblue;
  font-size: 20px;
  padding: 20px; 
}


.special {
color: black;
position: relative;
top: 20px;
left: 100px;
border: 3px solid green;
display: block;
padding: 40px;
}


