
body{
    padding:1in 1in 1in 1in;
    margin-bottom:10%;
    margin-top:20%;
    background-color: chartreuse;
   
}
.titleheader, h1{
    font-size:200px;
    font-family:'Akaya Telivigala', cursive;
    position:center;
    padding: 1in, 1in, 1in, 1in;
    margin:50px 50px 50px 50px;
}
.ready-to-fly{
    font-size:40px;
    color:red;
    font-family:'Zilla Slab Highlight', cursive;
}
.released-at-last{
    font-size:120px;
    color:blue;
    font-family:'Monofett', cursive;
}
.i-Quit{
    font color:red;
}
.image{
height:70pt;
width:60pt;

}